
<% 
t= Time.now
if (t.month >10 || t.month < 3)
	t=t.getlocal("-05:00")
else 
	t=t.getlocal("-04:00")
end

if (t.hour >16 || t.hour<4)
	word= "YAAAAASS!"
	colorid="colorful"
	fontsize="100px"
	gifadd="http://i2.wp.com/i.imgur.com/OLBwlDo.gif?zoom=2&w=650"
elsif (t.hour<9 && t.hour>=4)
	word="No, go the fuck to sleep."
	colorid="sleep"
	fontsize="70px"
	gifadd="http://b.vimeocdn.com/ts/165/538/165538918_640.jpg"
else 
	word= "No. It is time to twerk."
	colorid="not"
	fontsize="80px"
	gifadd="http://i.imgur.com/Tib2gJo.gif"
end
t.strftime("it is %T")

%>

<!DOCTYPE html>
<html>
	<head>
		<title>Is It Party Time</title>

	<script src="http://code.jquery.com/jquery-2.1.1.js"> </script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"> </script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"> </script>
	
	<script type="text/javascript">
		$(document).ready(function () {
			setInterval(function() {
				$("#colorful").animate( {backgroundColor: '#000000'}, 100)
				.animate( {backgroundColor: '#FFFFFF'}, 100); 
				}, 200);
			});

	</script>


    </head>
    <body id= "<%=colorid%>" >
			<div style="height:70%; width:90%;padding-top:1%;margin:auto; text-align:center">
				<p style="font-size: 30px;line-height:80%"> Is it party time? </p> 
				<p style="font-size:<%=fontsize%>; line-height:80%; margin:30px 0px 30px 0px"> <%= word %> </p>
				<p style="font-size: 30px;margin:10px 0px 20px 0px;line-height:80%"> Current Time is: <%= t %> </p>
				<img height="350px" src="<%= gifadd%>">
			</div>
		
    </body>

	<style>

	#colorful {
		background-color: #FFFF00;
	}
	#not {
		background-color: #FFFFFF;
	}
	#sleep {
		background-color: #444499; 
	}
	html,body {
		height: 100%;
		width: 100%;
		}
	</style>


</html>

