
  <% @conditions.each do |condition| %>
    <div class="city">    
      <p>
        <img src='<%= File.expand_path("/images/#{condition.icon}.gif", settings.public_folder) %>' class="cityImage" align="right" />
        City :<%= condition.city %><br />
        Temperature : <%= condition.temperature %><br />
        Humidity :<%= condition.humidity %><br />
      </p>
      <p> <img src='<%= File.expand_path("/images/#{condition.city}.jpeg", settings.public_folder) %>' class="cityImage" /> </p> 
    </div>
  <% end %>

