
<% 
  @super_first_name = {A: :Almighty, B: :Beastly, C: :Cosmic, D: :Dynamic, E: :Ecto, F: :Ferocious, G: :Giant,H: :Harrowing,
  I: :Invisible, J: :Jumping, K: :Killer, L: :Leaping, M: :Mad, N: :Nocturnal, O: :Optimus, P: :Psychic, Q: :Quick, 
  R: :Reaping, S: :Stunning, T: :Torching, U: :Ulitimate, V: :Venomous, W: :Weeping, X: :Extraordinary,
  Y: :Young, Z: :Zapping}
  @super_last_name = {A: :Anaconda, B: :Bee, C: :Cosmo, D: :Dingo, E: :Enferno, F: :Firefly, G: :Gangsta,H: :Hammer,
  I: :Indigo, J: :Jupiter, K: :KO, L: :Lizard, M: :Maniac, N: :Neptune, O: :Octopus, P: :Psycho, Q: :Quicksilver, 
  R: :Reaper, S: :Salamander, T: :Tyrannasaurus, U: :Undertaker, V: :Virus, W: :Wonder, X: :Xray,
  Y: :Yeoman, Z: :Zebra}
  @super_first_initials = @super_first_name.keys
  @super_last_initials = @super_last_name.keys

  	ufi = params[:message]
  	uli = params[:message]
  	user_first_initial = ufi.split(' ').first.upcase
  	user_last_initial = uli.split(' ').last.upcase

  if params[:message] == "_no_entry"
	    error_message = "Error!"
		the = ""
		super_first_name = " No Entry Detected   "
		super_last_name = ""
		exc = ""
  elsif !@super_first_name.has_key?(user_first_initial[0].to_sym) || !@super_last_name.has_key?(user_last_initial[0].to_sym)
    error_message = "Error!"
	the = ""
	super_first_name = " Use Letters Only   "
	super_last_name = ""
	exc = ""
  else	
	  error_message = "Your Superhero Name"
	  the = "The "
	  exc = "!"
  end

  if @super_first_name.has_key?(user_first_initial[0].to_sym)
    super_first_name = @super_first_name.values_at(user_first_initial[0].to_sym)
  end
  if @super_last_name.has_key?(user_last_initial[0].to_sym)
    super_last_name = @super_last_name.values_at(user_last_initial[0].to_sym)
  end %>
 <div id="superhero_name_parent_div">
 	<div id="supername_header"> <%= error_message %> </div><br>
 	<div id="supername"><%= the %><%= super_first_name.inspect[2..super_first_name.length-3] %>  <%= super_last_name.inspect[2..super_last_name.length-3] %><%= exc %></div><br>
	<div id="play_again"><a href ="http://localhost:4567/form"><img src="http://www.primarygames.com/holidays/chinese/games/my_sign/images/tryagain_button.png" 	height="100" width="300"></a></div>
</div>
<div id="other2"></div>
